<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include 'material/includes/material_css.html' %}
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>    
    {% if request.path == '/' %}
        <div id="particles-js"></div>
        <header class="main-header grey lighten-3" id="main-header">
    {% else %}
        <div id="particles-js2"></div>
        <header class="secondary-header grey lighten-3">
    {% endif %}
        <nav class="transparent z-depth-0">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{% url 'index' %}" class="brand-logo hide-on-med-and-down"><h4>CSC</h4></a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        {% comment %} <li>
                            <a href="{% url 'index' %}" class="{% if request.path == '/' %} active-link {% endif %}">
                                Inicio
                            </a>
                        </li> {% endcomment %}
                        {% comment %} <li>
                            <a href="{% url 'events:list' %}" class="{% if request.path == '/eventos/' %} active-link {% endif %}">
                                Eventos
                            </a>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#login" class="modal-trigger">Iniciar sesión </a></li>
                        <li>
                            <a href="{% url 'account:register' %}" class="{% if request.path == '/registro/' %} active-link {% endif %}">
                                Registrate
                            </a>
                        </li> {% endcomment %}
                    </ul>
                    {% comment %} <ul class="sidenav" id="mobile-nav">
                        <h3 class="center">CSC</h3>
                        <li><div class="divider"></div></li>
                        <li><a href="{% url 'index' %}">Inicio <i class="fas fa-home left"></i></a></li>
                        <li><a href="{% url 'events:list' %}">Eventos <i class="fas fa-calendar-day left"></i></a></li>
                        <li><a href="blog.html">Blog <i class="fas fa-blog left"></i></a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="#">Iniciar sesión <i class="fas fa-sign-in-alt left"></i></a></li>
                        <li><a href="signup.html">Registrate <i class="fas fa-user-plus left"></i> </a></li>
                    </ul> {% endcomment %}
                </div>
            </div>
        </nav>

        <div id="login" class="modal">
            <div class="modal-content">
                <form action="">
                    <div class="input-field">
                        <i class="fas fa-at prefix"></i>
                        <input type="email" id="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password">
                        <label for="password">Contraseña</label>
                    </div>
                    <a href="" class="modal-action modal-close btn"><i class="fas fa-sign-in-alt"></i></a>
                    <div class="modal-footer">
                        <a href="" class="">Registrate</a>
                        <a href="" class="">Contraseña olvidada</a>
                    </div>
                </form>
            </div>
        </div>

         <div class="showcase container">
            <div class="row center">
                <div class="col s10 offset-s1">
                    <img src="{% static 'img/logo.png' %}" 
                            width="{% if request.path == '/' %} 470px {% else %} 370px {% endif %}"
                            class="responsive-img" alt="capitulo de sistemas computacionales">
                    {% block showcase %}{% endblock showcase %}
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock content %}
    <footer class="section white-text center">
        <a href="https://www.facebook.com/CapituloEstudiantilDeSistemasComputacionales/"
           target="_blank">
            <i class="fab fa-facebook fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/cscits/" target="_blank">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <p>Capítulo de sistemas computacionales &copy; 2020</p>
    </footer>

    <script src="https://kit.fontawesome.com/efb850023e.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>

    {% include 'material/includes/material_js.html' %}

    {% if request.path == '/' %}
        <script src="{% static 'js/particulas.js' %}"></script>
    {% else %}
        <script src="{% static 'js/particulas2.js' %}"></script>
    {% endif %}
    
    <script type="text/javascript">
    
        document.addEventListener('DOMContentLoaded', function() {
            var sideNav = document.querySelectorAll('.sidenav ');
            var initSideNav = M.Sidenav.init(sideNav);

            var boxed = document.querySelectorAll('.materialboxed');
            var initBoxed = M.Materialbox.init(boxed);

            var loginModal = document.querySelectorAll('.modal');
            var instances = M.Modal.init(loginModal);

        });

        console.log("%cDesarrollado por:", "color:#85e085;")

        console.log(
        "%c                         \n" +
        "  ███╗   ██╗██╗████████╗ █████╗ ██╗ \n" +
        "  ████╗  ██║██║╚══██╔══╝██╔══██╗██║ \n" +
        "  ██╔██╗ ██║██║   ██║   ███████║██║ \n" +
        "  ██║╚██╗██║██║   ██║   ██╔══██║██║ \n" +
        "  ██║ ╚████║██║   ██║   ██║  ██║██║ \n" +
        "  ╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝ \n", "color:#85cc95;font-size:15px");


        console.log("%c¿Te gustaría colaborar con el proyecto?", "color:#85e085");
        console.log("%cEscríbeme a: %cnfraire07@csc-its.com","color:#85e085","text-decoration:underline #ff6666;color:#ff6666");
    </script>
</body>
</html>