<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    {% block gtag %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include 'material/includes/material_css.html' %}
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>    
    {% if request.path == '/' %}
        <div id="particles-js"></div>
        <header class="main-header grey lighten-3" id="main-header">
    {% else %}
        <div id="particles-js2"></div>
        <header class="secondary-header grey lighten-3">
    {% endif %}
        <nav class="transparent z-depth-0">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{% url 'index' %}" class="brand-logo hide-on-med-and-down"><h4>CSC</h4></a>
                     <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="fas fa-bars fa-2x"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                         <li>
                            <a href="{% url 'index' %}"
                               class="{% if request.path == '/' %} active-link {% endif %}">
                                Inicio
                            </a>
                        </li>
                         <li>
                            <a href="{% url 'events:list' %}" class="{% if request.path == '/eventos/' %} active-link {% endif %}">
                                Eventos
                            </a>
                        </li>
                        {% comment %} 
                        <li><a href="blog.html">Blog</a></li> {% endcomment %}
                        {% if not request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'account:login' %}"
                                class="{% if request.path == '/usuarios/identificar/' %} active-link {% endif %}">
                                    Iniciar sesión 
                                </a>
                            <li>
                                <a href="{% url 'account:register' %}"
                                class="{% if request.path == '/usuarios/registro/' %} active-link {% endif %}">
                                    Registrate
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-trigger" href="#!" data-target="drop-account">
                                    Mi cuenta<i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                            <ul id="drop-account" class="dropdown-content">
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'account:logout' %}">
                                        Salir
                                    </a>
                                </li>
                            </ul>

                        {% endif %}
                    </ul>
                     <ul class="sidenav" id="mobile-nav">
                        <h3 class="center">CSC</h3>
                        <li><div class="divider"></div></li>
                        <li><a href="{% url 'index' %}">Inicio <i class="fas fa-home left"></i></a></li>
                        <li><a href="{% url 'events:list' %}">Eventos <i class="fas fa-calendar-day left"></i></a></li>
                        {% comment %} <li><a href="blog.html">Blog <i class="fas fa-blog left"></i></a></li> {% endcomment %}
                        <li><div class="divider"></div></li>
                        {% if not request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'account:login' %}">
                                    Iniciar sesión <i class="fas fa-sign-in-alt left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'account:register' %}">
                                    Registrate <i class="fas fa-user-plus left"></i>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'account:logout' %}">
                                    Salir <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="showcase container">
            <div class="row center">
                <div class="col s10 offset-s1">
                    <img src="{% static 'img/logo.png' %}" 
                            width="{% if request.path == '/' %} 470px {% else %} 370px {% endif %}"
                            class="responsive-img" alt="capitulo de sistemas computacionales">
                    {% block showcase %}{% endblock showcase %}
                </div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock content %}

    <footer class="section white-text center">
        <a href="https://www.facebook.com/CapituloEstudiantilDeSistemasComputacionales/"
           target="_blank">
            <i class="fab fa-facebook fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/cscits/" target="_blank">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
        <p>Capítulo de sistemas computacionales &copy; 2020</p>
    </footer>

    <script src="https://kit.fontawesome.com/e8273593cf.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>

    {% include 'material/includes/material_js.html' %}

    {% if request.path == '/' %}
        <script src="{% static 'js/particulas.js' %}"></script>
    {% else %}
        <script src="{% static 'js/particulas2.js' %}"></script>
    {% endif %}
    
    <script type="text/javascript">
    
        document.addEventListener('DOMContentLoaded', function() {
            var sideNav = document.querySelectorAll('.sidenav ');
            var initSideNav = M.Sidenav.init(sideNav);

            var boxed = document.querySelectorAll('.materialboxed');
            var initBoxed = M.Materialbox.init(boxed);

            var dropdown = document.querySelectorAll('.dropdown-trigger');
            var initDropdown = M.Dropdown.init(dropdown);

            var carousel = document.querySelectorAll('.carousel');
            var initCarousel = M.Carousel.init(carousel)
        });

        console.log("%cDesarrollado por:", "color:#85e085;")

        console.log(
        "%c                         \n" +
        "  ███╗   ██╗██╗████████╗ █████╗ ██╗ \n" +
        "  ████╗  ██║██║╚══██╔══╝██╔══██╗██║ \n" +
        "  ██╔██╗ ██║██║   ██║   ███████║██║ \n" +
        "  ██║╚██╗██║██║   ██║   ██╔══██║██║ \n" +
        "  ██║ ╚████║██║   ██║   ██║  ██║██║ \n" +
        "  ╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝ \n", "color:#85cc95;font-size:15px");


        console.log("%c¿Te gustaría colaborar con el proyecto?", "color:#85e085");
        console.log("%cEscríbeme a: %cnfraire07@csc-its.com","color:#85e085","text-decoration:underline #ff6666;color:#ff6666");
    </script>
</body>
</html>
