{% extends 'core/base.html' %}
{% load static %}

{% block gtag %}
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157747004-1"></script>
	<script>
 		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
	 	 gtag('js', new Date());

		 gtag('config', 'UA-157747004-1');
	</script>	
{% endblock gtag %}

{% block title %} Inicio {% endblock title %}

{% block showcase %}
    <h2>Bienvenido</h2>
{% endblock %}

{% block content %}
<section class="section values-section center">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <div class="card-panel z-depth-3">
                    <img src="{% static 'img/cogwheel.png' %}" height="75px">
                    <h5>Compromiso</h5>
                    <p>
                        Organización de actividades favorables para los estudiantes de la carrera para incentivar,
                        motivar y completar su formación como estudiante integral. 
                    </p>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card-panel z-depth-3">
                    <img src="{% static 'img/respect.png' %}" height="75px">
                    <h5>Respeto</h5>
                    <p>
                        Conocer el valor propio y honrar el valor de los demás es la verdadera manera de ganar respeto.
                        Se reconoce el valor de la sociedad estudiantil.
                    </p>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card-panel z-depth-3">
                    <img src="{% static 'img/goal.png' %}" height="75px">
                    <h5>Responsabilidad</h5>
                    <p>
                        Virtud de no solo tomar desiciones de manera consciente sino también de asumir las consecuencias
                        que tengan siempre con actitud de crecimiento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section who-we-are-section">
    <div class="container">
        <div class="row">
            <div class="col s12 l5">
                <img src="{% static 'img/cscteam.jpeg' %}" class="responsive-img z-depth-2">
            </div>
            <div class="col s12 l6 side-points">
                <h4>Nuestro enfoque</h4>
                <div class="row">
                    <div class="col s12 m6">
                        <i class="fas fa-tachometer-alt fa-2x"></i>
                        <h5>Eficacia</h5>
                        <p>Se ponen en acción inquietudes y ser un agente de cambio, poner en práctica y desarrollar diferentes habilidades para la adquisición de experiencia.</p>
                    </div>
                    <div class="col s12 m6">
                        <i class="fas fa-users fa-2x"></i>
                        <h5>Comunidad</h5>
                        <p>Desarrollar el sentido de la participación social, para mejorar la calidad de trabajo en nuestra comunidad y el país.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <i class="fas fa-laptop-code fa-2x"></i>
                        <h5>Ideas creativas</h5>
                        <p>Atender, canalizar, dar seguimiento y solucionar de forma satisfactoria las necesidades de los estudiantes.</p>
                    </div>
                    <div class="col s12 m6">
                        <i class="fas fa-puzzle-piece fa-2x"></i>
                        <h5>Somos un equipo</h5>
                        <p>Formado por estudiantes que se identifican por un mismo interés y comparten un objetivo en común.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'event/_gallery.html' %}

{% comment %} <section class="section partners-section grey lighten-3 center">
    <div class="contaier">
        <div class="row">
            <div class="col s12 m2 offset-m1">
                <img src="{% static 'img/justia.png' %}" alt="">
            </div>
            <div class="col s12 m2">
                <img src="{% static 'img/justia.png' %}" alt="">
            </div>
            <div class="col s12 m2">
                <img src="{% static 'img/justia.png' %}" alt="">
            </div>
            <div class="col s12 m2">
                <img src="{% static 'img/justia.png' %}" alt="">
            </div>
            <div class="col s12 m2">
                <img src="{% static 'img/justia.png' %}" alt="">
            </div>
        </div>
    </div>
</section> {% endcomment %}

<section class="section contact-section">
    <div class="container">
        <div class="row">
            <div class="col sm12 m6 contact-info">
                <h3>Contactanos</h3> 
                <p>
                    Te gustaría formar parte del capítulo de sistemas, tienes algúna duda, comentario y/o sugerencia acerca de nostros.<br>
                    Escríbenos! te atenderemos lo antes posible.
                </p>
                <p>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <span>
                        Blvd. Venustiano Carranza #2400 <br> Colonia Tecnológico
                        Saltillo, Coahuila, México C.P 25280.
                    </span>
                    <br>
                    <br>
                    <i class="fas fa-clock fa-2x"></i>
                    <span>
                        Lunes a viernes: 7:00 a.m a 08:00 p.m
                    </span>
                    <br>
                    <br>
                    {% comment %} <i class="fas fa-phone-alt prefix fa-2x "></i>
                    <span>
                        (844) 123-53-44
                    </span> {% endcomment %}
                </p>
            </div>
            <div class="col sm 12 m6">
                <div class="card-panel grey lighten-4 grey-text text-darken-4" id="contact-form">
                {% if 'ok' in request.GET %}
                    <span class="alert-success-contact">
                    </span>
                {% elif 'error' in request.GET %}
                    <span class="alert-error-contact">
                        {% comment %} No se pudo enviar tu mensaje, intentalo de nuevo. {% endcomment %}
                    </span>
                {% endif %}
                    {% load material_form %}
                    <form method="POST">
                        {% csrf_token %}
                        {% form %}
                            {% part form.name prefix %} <i class="material-icons prefix">account_circle</i> {% endpart %}
                            {% part form.email prefix %} <i class="fas fa-at prefix"></i> {% endpart %}
                            {% part form.phone prefix %} <i class="fas fa-phone-alt prefix"></i> {% endpart %}
                            {% part form.message prefix %} <i class="fas fa-comment-dots prefix"></i> {% endpart %}
                        {% endform %}
                        <button type="submit" class="btn">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

