/* globals */

/* color: #FA991C; */
/* color: #1C768F; */

::selection {
    background: #1C768F; /* WebKit/Blink Browsers */
    color: #fff;
}

.active-link{
    color: #032539;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5{
    color: #032539;
    font-family: 'Righteous', cursive;
}

p{
    font-family: 'Saira Semi Condensed', sans-serif;
}

.input-field .prefix.active {
    color: #1C768F;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus + label{
    color: #032539 !important;
}


.input-field input[type=email]:focus + label {
    color: #032539;
}

.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #032539 !important;
    box-shadow: 0 1px 0 0 #032539 !important;
}

.btn{
    background-color: #1C768F !important;
    color: white !important;
}

.datepicker-date-display {
	background-color: #032539;
	color: #fff;
}

.datepicker-table td.is-selected {
	background-color: #1C768F;
	color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
	color: #1C768F !important;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #1C768F;
}

.modal { width: 25% !important  } 

/* header */

nav a,
nav i{
    color: #023246 !important;
}

nav ul a{
    font-size: 18px !important;
}

.main-header{
    min-height: 600px;
    /* background-color: #d4d4ce; */
}

@media only screen and (max-width: 500px){
    .main-header{min-height: 400px;}
    #particles-js{max-height: 400px;}
}


#particles-js {
    width:100%;
    height: 600px;
    position: absolute;
}

/* secondary header */

.secondary-header{
    min-height: 400px;
}

#particles-js2 {
    width:100%;
    height: 465px;
    position: absolute;
}

@media only screen and (max-width: 500px){
    .secondary-header{min-height: 400px;}
    #particles-js2{max-height: 400px;}
}

/* values */

/* who we are */

.section-who-we-are p{
    text-align: justify;
}

.section-who-we-are i{
    /* color: #FA991C; */
    /* color: #1C768F; */
    color: #1C768F;
}


@media (min-width: 1200px){

    .section-who-we-are .side-points{
        margin-left: 40px !important;
    }
}


/* Md 1024px  */

@media (max-width: 1199px) and (min-width: 992px){

    .section-who-we-are .side-points{
        margin-left: 60px;
    }
}


/* Sm 768px  */

@media (max-width: 991px) and (min-width: 768px){
    
    .section-who-we-are .side-points{
        margin-left: 0;
        text-align: center;
    }

}


/* Xs 320px  */

@media (max-width: 767px){
       
    .section-who-we-are .side-points{
        margin-left: 0;
        text-align: center;
    }
}


/* partners */

.partners-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* contact */

.contact-section{
    margin-top: 5rem;
}

.contact-section i{
    color: #032539;
}

/* footer */
footer{
    background-color: #032539;
}

footer a{
    margin-right: 10px;
    color: white;
    /* color: #1C768F; */
        /* color: #FA991C; */
}

footer a:hover{
    color: #1C768F;
    transition: all ease-in .2s;
}

/* blog */

.blog-categories i{
    margin-right: 30px;
}

.blog-categories a{
    cursor: pointer;
    color: #032539 !important;
}

.blog-categories a:hover{
    background-color: #eeeeee;
}

.blog-categories .active{
    background-color: #1C768F !important;
    /* background-color: #032539 !important; */
    color: white !important;
}

.post-title{
    margin-top: 0;
}

.post-item a{
    color: #032539;
}

.post-item a:hover{
    color: #1C768F;
}

.pagination{
    margin-bottom: 50px;
}

.pagination{
    color: #032539 !important;
}

.pagination .active{
    background-color: #1C768F !important;
}

.post-image img{
    margin-right: 50px;
}

.post-title{
    font-size: 20px;
}

.post-exerpt{
    font-size: 14px;
}

/* post detail */

#published-by{
    font-weight: bold;
    color: #032539;
}

.user-social-networks a,
.share a{
    transition: all ease-in .2s;
    color: #032539;
    margin-right: 6px;
}

.user-social-networks a:hover,
.share a:hover{
    color: #1C768F;
}

.post-details i{
    margin-left: 13px;
    color: #032539;
}

.related-post-section a{
    color: #032539;
    font-weight: bold;
}

.related-post-section a:hover{
    color: #1C768F;
}

/* .post-content-section .container{
    background-color: #eeeeee;
} */

/* eventos */

.card-content i:nth-child(2){
    margin-left: 10px;
}

.card-content i{
    color: #1C768F;
    margin-bottom: 20px;
}

.event-details-section i{
    color: #1C768F;
    margin-right: 10px;
    margin-bottom: 5px;
}