{% extends 'core/base.html' %}
{% block title %} CSC | {{ event.name }} {% endblock %}

{% block showcase %}
    <h2>{{ event.name }}</h2>
{% endblock %}

{% block content %}
    <section class="section event-details-section">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <img src="{{ event.photo.url }}" class="responsive-img">
                </div>
                <div class="col s12 m4">
                    <h5>Descripción</h5>
                        {{ event.description | safe }}
                    <hr>
                    <h5>Fecha y Hora </h5>
                    {% if event.start_date < current_time %}
                        <i class="material-icons">check</i> Evento finalizado
                    {% else %}
                        {% if event.end_date == event.start_date %}
                            <i class="fas fa-calendar-day"></i> {{ event.start_date | date:'l d/M/y' }}
                        {% else %}
                            <i class="fas fa-calendar-day"></i> 
                            <strong>{{ event.start_date | date:'l d/M/y' }}</strong>
                            al
                            <strong>{{ event.end_date | date:'l d/M/y' }}</strong>
                            <br>
                            <i class="fas fa-clock"></i> {{ event.hour }}
                        {% endif %}
                    {% endif %}

                    <hr>

                    <h5>Lugar</h5>
                    <i class="fas fa-map-marker"></i> {{ event.place }}
                    
                    <hr>
                    
                    <h5>Cupo</h5>
                    <i class="fas fa-users"></i> {{ event.capacity }}
                    {% comment %} <br> {% endcomment %}
                    {% comment %} <i class="fas fa-user"></i> 32 (Restantes) {% endcomment %}
                    <br>
                    <i class="fas fa-money-bill"></i> 
                    Costo: 
                    {% if event.price != 0 %}
                        {% if event.offer %}
                            <span class="offer"> ${{ event.price }}</span>
                            <span class="offer-badge">${{ event.offer }} <span class="new badge orange accent-4" data-badge-caption="">Oferta</span></span>
                        {% else %}
                            ${{ event.price }}
                        {% endif %}
                        {% if event.days > 1 %}
                            {% comment %} varios dias {% endcomment %}
                        {% endif %}

                    {% else %}
                        Gratuito
                    {% endif %}  

                    {% if not request.user.is_authenticated %}
                        <p>Debes <strong><a href="{% url 'account:login' %}">iniciar sesión</a></strong> antes de registrarte en el evento</p>
                    {% else %}
                        <br>
                        <br>
                        {% if already_registered %}
                            <h5>Ya estas registrado en el evento.Te esperamos!</h5>
                        {% else %}
                            {% include 'core/_alerts.html' %}
                            {% load material_form %}
                                <form method="POST">
                                {% csrf_token %}
                                    {% form %}
                                        {% part form.inscription prefix %} <i class="fas fa-ticket-alt fa-1x prefix"></i> {% endpart %}
                                    {% endform %}
                                    <input type="submit" value="Registrarme" class="btn">
                                </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    {% if gallery %}
        {% include 'event/_gallery.html' %}
    {% endif %}
{% endblock %}
